:where(.wp-site-blocks *:focus){
outline-width:2px;
outline-style:solid
}

.wp-block-group.problem-card h2 a {
font-size:32px!important;
text-align:center!Important;
}

.problem-cards .wp-block-group.problem-card {
min-height:300px!important;
}
.wp-block-group.problem-slides .wp-block-group.problem-card .pcard-icon, .problem-slides .problem-card .pcard-num {
display:none !important;
}

.problem-card p.card-p, .wp-block-cb-carousel-v2 h3.wp-block-accordion-heading span  {
color: black !important;
margin-top:20px!important;
font-size:16px!important;
}

.wp-block-cb-carousel-v2 h3.wp-block-accordion-heading span {
    font-family: var(--sans)!important;
    line-height:1.6!important;
}

.contact.contact-block {
background-color:white!Important;
}
.what-we-do.we-do .white-group{
background-color:white!Important;
padding-top:50px!Important;
padding-bottom:50px!important;
}

.founder-quote .quote-text {
margin-top:20px!Important;
}

body .problems-band .wp-block-accordion-panel h6, body .problems-band .wp-block-accordion-panel .wp-block-heading {
font-size:16px!important;
}

body.page-id-856 .problems-band {  
  padding-top:24px!important;
  font-size: 120%!important;
}
.wp-container-core-group-is-layout-f474cb51 {
background:#9DA692!important;
position:relative!important;
margin-top:-100%important;
border:none!important;
}
.wp-block-search__button {
margin-left:0px!important;
}

form.wp-block-search {
text-align:right!Important;
}

input.wp-block-search__input {
flex-grow:0!important;
width:300px!Important
}

body.home form.wp-block-search {
margin-right:0px!important;
margin-left:85%!important;
}
